@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,600");

/* toastr */
@import "~toastr/build/toastr.min.css";

// Font Awesome
@import "~font-awesome/scss/font-awesome";

/* Mixins */
@import "mixins";

/* COLORS */
@import "colors";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

/* Sweet Alert */
@import "~sweetalert2/dist/sweetalert2.min.css";

// PARTIALS

@import "partials/navbar";
@import "partials/upper";

html, body, #app {
    font-family: 'Ubuntu', sans-serif !important;
    height: 100%;
    color: $gray;
}

body {
    display: none;
}

.app {
    height: 100%;
    width: 100%;
}



section {
    padding-top: 5rem;
    padding-bottom: 5rem;

    &.main {
      
        height: 100%;
       

        .welcome {
            margin-top: -10rem;

            h3 {
                color: $gray;
                font-weight: bold;
            }
        }
    }
}


::-webkit-scrollbar {
    width: 8px;
    background-color: $gray;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: white;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: $gray;
}