/* NAVBAR */

.navbar {
    .navbar-nav {
        // background: linear-gradient(to right, #515256 , #e3d2b8);
   
    }

    .nav-item {
        cursor: pointer;

        .nav-link {
            color: $gray;
            font-size: 1.1rem;
            font-weight: 200;
            padding-left: 1rem;
            padding-right: 1rem;
            
            @include media-breakpoint-down(sm) {
                font-weight: normal;
                font-size: 1rem;
            }
            
        }

        &.active {
            .nav-link {
                border-bottom: 2px solid $active;
                color: #fdf7ef;

                /* text-shadow: 1px 1px #363a40; */
            }
        }
    }

    @include media-breakpoint-down(sm) {
        top: 0px;
        position: relative;
        background-color: white;
        margin-top: -3rem;
    }
	.navbar-toggler
	{
		border:none;
		outline: none;
	}
	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(28,37,33,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
	}

    &.navbar-toggleable-md .navbar-nav .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #navbarNav {
        @include media-breakpoint-down(sm) {
            background-color: $gray;
            margin-left: -15px;
            margin-right: -15px;
            z-index: 200;
            top: 12px;
            position: relative;

            li {
                a {
                    color: $white;
                }

                &.active {
                    a {
                        color: $active;
                    }
                }
            }
        }
    }
}

.navbar-brand {
    float: right;
    background-color: white;
    padding-top: 6rem;
    margin-top: -6rem;
    padding-bottom: 2rem;

    @include media-breakpoint-down(sm) {
		padding-top: 0rem;
		margin-top: 0rem;
		padding-bottom: 0rem;
		position: absolute;
        top: -0.2rem;
        left: 1rem;
    }


    .brand {

		.main{
			display: block;
		}
		
		.responsive{
			display: none;
		}


        //PHONES
        @include media-breakpoint-down(sm) {
            img {
                width: 9rem;
                position: relative;
                top: 9px;
			}
			
			.main{
				display: none;
			}

			.responsive{
				display: block;
			}
        }


        //TABLET
        @media (min-width: 768px) and (max-width: 1340px) {
            img {
                width: 9rem !important;
            }
        }

        //PC
        @include media-breakpoint-up(lg) {
            img {
                width: 12rem;
            }
        }
    }
}
