.upper
{
	position: fixed;
	z-index: 20000;
	background: $primary;
	bottom: 10px;
	right: 10px;
	border-radius: 5px;
	opacity: 0;
	@include animated(all, 0.5s, ease);

	&.show{
		opacity: 0.5;

		&:hover{
			opacity:1;
		}
	}

	.fa{
		padding: 0.5rem 0.8rem;
		color: white;
		font-size: 2rem;
	}

}
